<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="simple-sidebar.css" rel="stylesheet">

    <link href="signin.css" rel="stylesheet">

    <link href="sweetalert.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                	<a href="#">
                  		emeeting
                  	</a>
                </li>
                <li>
                    <a href="/events">Principal</a>
                </li>
                <% if current_user.is_admin == 1 %>
                <li>
                    <a href="/add">Adicionar Reunião</a>
                </li>
                <% end %>
                <% if current_user.is_admin == 1 %>
                <li>
                  <%= link_to "Adicionar Novo Executivo", '/signup' %>
                </li>
                <li>
                  <%= link_to "Listar Executivos", '/list' %>
                </li>
                <% end %>
                <li>
                    <%= link_to "Sair", '/logout' %>
                </li>
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default btn-sm" id="menu-toggle"><<</a>
                        <h1>Executivos</h1>
                        <div class="table-responsive">          
                        <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            Email
                                        </td>
                                        <td>
                                            Criado em
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @users.each do |user| %>
                                        <% if user.is_admin == 0%>
                                        <tr>
                                            <td><%= user.email %> </td>
                                            <td><%= user.created_at %></td>
                                            <td><%= link_to "Remover", user, :method => :delete, data: {
                                                  confirm: 'Exclusão de Executivo!',
                                                  :'confirm-button-text' => 'Sim',
                                                  :'cancel-button-text' => 'Não',
                                                  :'confirm-button-color' => '#66CD00',
                                                  :'sweet-alert-type' => 'info',
                                                  text: 'Você realmente quer excluir este executivo?'} %></td>
                                        </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div> 
                        <!-- fim da table -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%= javascript_include_tag "sweetalert.min.js" %>

    <%= javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>

